#addTrip {
    width: 800px;
    border: 1.3px solid black;
    border-radius: 2px;
    margin: 0 0 25px 50px;
    display: flex;
    flex-flow: column;
    background-color: white;
    position: absolute;
    top: 580px;
    left: 20vw;
}

.add-trip-P {
    margin: 15px 0 0 15px;
    font-weight: 700;
}

.div-under-addTrip {
    display: grid;
    grid-template-columns: 145px 590px;
    grid-template-rows: 35px 35px 35px 35px 35px 35px;
    grid-column-gap: 35px;
    grid-row-gap: 25px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 1px solid gray;
    margin-left: 15px;
}

.div-under-addTrip label {
    justify-self: end;
    font-weight: 700;
    align-self: center;
    text-align: center;
}

.grid-with-checkbox {
    display: grid;
    grid-template-columns: 100px 50px 150px;
    grid-template-rows: 20px 20px 20px 40px;
    grid-row-gap: 5px;
    margin: 20px 0 0 10px;
}

.grid-with-checkbox input {
    justify-self: end;
    align-self: end;
}

.grid-with-checkbox label {
    align-self: self-end;
}

.grid-with-checkbox-P {
    justify-self: end; 
    font-weight: 700;
    align-self: center;
}

.saveButtonTrip {
    width: 60px;
    height: 35px;
    margin-top: 10px;
    border: 1px solid #CDD6D5;
    border-radius: 4px;
}

.cancelTripButton {
    align-self: flex-end;
    margin-right: 15px;
    width: 70px;
    height: 35px;
    border: 1px solid #CDD6D5;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.passengers {
    display: flex;
    padding-left: 80px;
    margin-top: 15px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.passengers label {
    font-weight: 700;
}

#passengersCheckBoxList {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    margin-top: 3px;
}